<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>environment</key>
	<string>PROD</string>
	<key>appName</key>
	<string>DONUT</string>
	<key>FacebookAppID</key>
	<string>328569463966926</string>
	<key>FacebookURLScheme</key>
	<string>fb328569463966926</string>
	<key>CodePushDeploymentKey</key>
	<string>QUin28f78rg5cJaf-Ao3bF2APvsyVJgNW_EDe</string>
	<key>FacebookDisplayName</key>
	<string>DONUT.me</string>
</dict>
</plist>
