<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   environment_TEST.plist
   donutMobile

   Created by Damien Brugne on 11/12/2015.
   Copyright (c) 2015 DONUT SAS. All rights reserved.
-->
<plist version="1.0">
    <dict>
      <key>environment</key>
      <string>TEST</string>
      
      <key>appName</key>
      <string>DONUT (test)</string>
    </dict>
</plist>
